@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');

	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;


a:link, a:visited {
	color: rgb(208, 232, 23); /* color of the link will be yellow */
}

a:focus, a:hover {
	background-color: #ddddff; /* changes background color to white (i guess thats what it looks like to me) on hover/focus */
	border-radius: 5px; /* rounds the corners of the link when you hover your curser over it  */
	text-decoration: underline; /* underlines the text when you hover over the link with your curser  */
	transition-duration: 0.2s; /* a transition change, lasting 0.2 seconds */
	transition-property: background; /* only the background will transition */
}
*{
	margin: 5px; /* sets the margins of all elements */
	box-sizing: border-box; /* Ensures padding and borders are included in the element's total width/height */
}

body {
	font-family: 'Noto Serif', serif; /* font for the text */
	font-size: 18px; /* the size of the font */
	background-color: skyblue;/* changes the background to a skyblue */
	text-align: center;/* centers the text in the body */
    min-height: 100vh;/* make sure that the body takes up 100% of what your able to see */
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif; /* sets the font for h1 and h2 to sans serif */
	letter-spacing: .05em;/* adds a slight space between letters */
	margin: 1.5rem auto;/* adds margins around the heading */
	text-align: center;	/* center the text */
}

h1 {
	font-size: 3rem;/* sets font size */
}

h2 {
	font-size: 2.25rem;/* sets font size */
}

header {
	padding: 2em 0;/* adds a 2em padding to the top and bottom of the header */
	background-color: #044C80; /* sets the background color to dark blue */
    color: white;/* sets the text color in the header to white */
	width: 100%;/* make sure thea the header spans the full width */
}

main {
	background-color: white; /* sets the background color of the main content to white */
	padding: 1em;/* adds 1em padding to the top and bottom */
	width: 50%;
}


p {
	line-height: 140%;/* sets line height to 140% for so anyone could read it better */
	margin-bottom: 1em;/* adds a margin below each paragraph */
}

#intro {
	font-size: 22px;/* sets font size */
}

#automotive, #maritime, #medical, #physics, #myths {
	/* not being used  */
}

#footer-container {
	background-color: #1F4864; /* sets the background to the footer to a whatever the color is  */
	padding: 1em;/* adds 1em padding inside the footer */
    color: white;/* sets the text color inside the footer to white */
    text-align: center;/* centers the text in the footer */
	width: 100%;/* makes sure the footer spans the full width*/
}

#header-container {
	/* not being used */
}

#main-container {
	display: grid;/* uses the grid layout for the main container */
	grid-template-columns: 1fr 2fr 1fr;/* adds 3 columns that take up a little bit of available space*/
	gap: 25px;/* space between the columns */
	display: flex;/* used flexbox layout for the container */
    flex: 1;/* allows the main container to expand and take up available space */
}

aside{
	background-color: #DEE6EC;/* sets the background the i think white */
	padding: 1em;/* adds 1em padding inside the aside */
    width: 25%;/* sets the width of the aside to 20% */
}
nav{
	background-color: darkgray;/* sets the background to a dark grey */
	padding: .3em;/* adds padding inside the nav */
    width: 20%;/* sets the width of the nav to 20% */
}
section{
    background-color: lightblue;/* sets the background to a lightblue */
    padding: 1em;/* adds padding inside each section */
    flex: 1;/* allows the section to expand and  take up available space */
    text-align: left; /* aligns the text to the left */
}
